input::-webkit-inner-spin-button, /*브라우저 마자 다른거 방지 */
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.time_Input,
.adjust_Button {
    appearance: none;
    -webkit-appearance: none;
}

.Hidden_Button{
    visibility: hidden;
}

#All_timeBox{
    width: 350px;
    height:200px;

    display: flex;
    gap: 10px;

}
.time_Box{ /*인풋, 버튼*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.time_Input{ /* 인풋 */
    height: 100px;
    width: 80px;
    
    border: none;

    text-align: center;
    font-size: 3rem;
}
.adjust_Button{ /* +,- 버튼 */
    height: 40px;
    width: 80px;

    border: none;

    text-align: center;
    justify-content: center;
    font-size: 2rem;
}

#timer_button{
    width: 350px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    margin-top: 15px;
}


.colon{
    font-size: 6rem;
    margin-top: 45px;
}


